/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-text {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h2.header-text {
  margin-bottom: 2rem;
  font-size: 3.5rem;
}

.body-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  padding: 0rem 1.5rem;
  line-height: 150%;
  color: #535353;
}

#contact-section .header-text,
#contact-section .body-text {
  color: white;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section:not(#header-section, #contact-section) {
  margin-top: 4rem;
}

#header-section {
  padding-top: 2rem; 
  position: relative;
}

#design-element {
  position: absolute;
  background-color: #3192b1;
  width: 200vw;
  height: 550px;
  top: -20%;
  transform: rotate(-30deg);
  box-shadow: 0px 12px 15px -15px rgba(0,0,0,0.75);
}

#about-section .icon {
  height: 50px;
  width: 50px;
}

img:not(.icon) {
  min-width: 300px;
  max-width: 400px;
  box-shadow: 0px 12px 15px -10px rgba(0,0,0,0.75);
}

.img-container {
  position: relative;
  display: inline-block;
  background-color: none;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

#overlay-text {
  position: absolute;
  right: 5%;
  bottom: 3%;
  text-align: right;
  line-height: 115%;
  color: white; 
  font-size: 5rem; 
  text-shadow: 3px 4px 9px rgba(0, 0, 0, 0.714);
}

.projects.header-text {
  padding: .8rem 0rem;
  font-size: 1.75rem;
}

.projects.body-text {
  font-size: 1.2rem;
  margin: 1rem 2rem 1rem 0.25rem;
  line-height: 120%;
}

#projects-section {
  display: grid;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5rem;
}

.project-container {
  background-color: white;
  display: grid;
  text-align: left;
  max-width: 450px;
  box-shadow: 6px 12px 19px -4px rgba(158,158,158,1);
  padding-bottom: 5rem;
}

.project-screenshot {
  height: 400px;
  background-color: gray;
}

.project-name-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.link-icons {
  display: flex;
  justify-self: end;
}

.link-icons .icon {
  width: 38px;
  height: 38px;
  margin: .1rem .1rem 0rem -1.1rem;
}

#contact-section {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #3192b1;
  padding-right: 1.5rem;
  margin-top: 13rem;
}

#contact-section .header-text {
  margin-top: 2rem;
}

#contact-body {
  line-height: 120%;
  margin-bottom: 2rem;
}

.contact-info {
  font-size: 1.2rem;
  margin-bottom: .5rem;
  line-height: 120%;
}

.link-row {
  display: flex;
  justify-content: center;
  margin-top: .75rem;
  margin-bottom: 4rem;
}

.icon {
  padding: 1rem;
  width: 75px;
  height: 75px;
}

img#profile-img-bottom {
  max-width: 100%;
}
